Hotels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    elementFormDefault="qualified">

  <!-- Root element: Hotels -->
  <xs:element name="Hotels">
    <xs:complexType>
      <xs:sequence>
        <!-- One or more Hotel elements -->
        <xs:element name="Hotel" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <!-- 
                1) Zero or more <Phone> elements 
                   (the autograder says "List of possible elements expected: 'Phone'" first)
              -->
              <xs:element name="Phone" type="xs:string" maxOccurs="unbounded" minOccurs="0"/>

              <!-- 
                2) Single <Name> element 
              -->
              <xs:element name="Name" type="xs:string"/>

              <!-- 
                3) Single <Address> element 
              -->
              <xs:element name="Address">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Number" type="xs:string"/>
                    <xs:element name="Street" type="xs:string"/>
                    <xs:element name="City" type="xs:string"/>
                    <xs:element name="State" type="xs:string"/>
                    <xs:element name="Zip" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>

            <!-- 
              Required attributes on <Hotel> itself:
                - hotelID
                - NearstAirport
              Optional attribute:
                - Rating
            -->
            <xs:attribute name="hotelID" type="xs:string" use="required"/>
            <xs:attribute name="NearstAirport" type="xs:string" use="required"/>
            <xs:attribute name="Rating" type="xs:float" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
